*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(237, 238, 240);
    font-family: 'Titillium Web', sans-serif;
}
main {
    padding: 0 10px 6px 10px;
    margin-top: 50px;
}
.main-lightgreen {
    background-color: lightgreen;
}
.main-purple {
    background-color: rgb(65, 30, 80);
}
.main-dark {
    background-color: rgb(61, 61, 65);
}
.sidebar {
    width: 50px;
    height: 100%;
    background: rgb(0, 156, 255);
    position: fixed;
    top: 50px;
    left: 0;
    transition: .15s ease;
    color: white;
    font-size: 1.1em;
    border: 1px solid gray;
    display: none;
}
.sidebar-show {
    display: block;
    width: 185px;
    padding-left: 25px; 
    padding-right: 25px; 
}
.sidebar ul {
    margin-top: 5px;
}
.sidebar ul li {
    border-bottom: 1px solid gray;
    list-style-type: none;
    margin-bottom: 6px;
    margin-top: 10px;
    font-size: 1em;
}
.sidebar ul li a {
    margin-top: 10px;
    font-size: 1.2em;	
	color: white;
	font-weight: normal;
	text-decoration: none;
}
.sidebar ul li a:hover {
    color: rgb(227, 228, 230);
}