<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Titillium+Web|Ubuntu&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/31b5eaa97f.js" crossorigin="anonymous"></script>
    <link href="../static/header.css" rel="stylesheet">
    <link href="../static/main.css" rel="stylesheet">
    <link href="../static/main_page.css" rel="stylesheet">
    <link href="../static/footer.css" rel="stylesheet">
</head>
<body>
<header>
    <i class="fa fa-bars" id="menu" aria-hidden="true"></i>
</header>
<div class="sidebar" id="left-sidebar">     
    <ul>
        <li><a href="" id="signification">Войти</a></li>
        <li><a href="registration.html">Регистрация</a></li>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">О нас</a></li>
    </ul>
</div>
<main>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</main>
<footer>
    <hr><br><p>2020</p>
</footer>
<script type="text/javascript" src="../static/autorization.js"></script>
<script type="text/javascript" src="../static/check-autorization.js"></script>
<script type="text/javascript" src="../static/sidebar.js"></script>
<script type="text/javascript" src="../static/check-color.js"></script>
</body>
</html>